*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primaryColor: orange;
    --defaultColor: white;
    --darkColor: rgb(9, 9, 9);
    --primaryFont: Signika;
    --secondaryFont: Playwrite DK Uloopet;
}

.imageSection{
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}


.button{
    padding: 10px 20px;
    border-radius: 10px 0px;
    border: none;
    background-color: var(--primaryColor);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    transition: opacity 0.2s linear;

    &:hover{
        cursor: pointer;
        opacity: 70%;
    }
}

body{
    min-height: 100vh;
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
    user-select: none;
}

main{
    display: flex;
    font-family: var(--primaryFont);
    position: relative;
}

.creator{
    position: absolute;
    font-family: var(--secondaryFont);
    top: 10px;
    right: 20px;
}

.container{
    padding: 50px;
    width: 50%;
    height: 100vh;
    flex-direction: column;

    .subHeading{
        text-decoration: underline;
    }
}

.blurMain{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--darkColor);
    z-index: 1;
    opacity: 70%;
    filter: blur(100px);
    display: none;
}

.leftContainer{
    background-color: var(--primaryColor);
    color: var(--darkColor);
    text-align: center;
    
    #numberRange{
        font-size: 50px;
        font-weight: bold;
        margin: 20px;
    }

    .levelContainer{
        margin-top: 30px;
        display: flex;
        align-items: center;
        text-align: left;
        width: 100%;

        .imageSection{
            width: 50%;
        }


        .levels{
            display: flex;
            flex-direction: column;

            .heading{
                margin-bottom: 10px;
            }
    
            .levelRadio{
                font-size: 30px;
                font-weight: bold;
                transition: opacity 0.2s linear;

                &:hover{
                    cursor: pointer;
                    opacity: 50%;
                }
            }
        }
    }
}

.rightContainer{
    background-color: var(--defaultColor);

    #suggestion{
        margin-bottom: 20px;
        color: var(--primaryColor);
    }

    input[type="number"] {
        width: 50%;
        height: 40px;
        padding: 10px;
        border: 2px solid var(--darkColor);
        border-radius: 20px;
        margin-bottom: 50px;
    }   

    #hints{
        margin-bottom: 20px;
    }

    #hints,
    #guessNumber{
        font-size: 30px;
        font-weight: bold;
        color: var(--primaryColor);
    }
}

.outputContainer{
    position: absolute;
    width: 30%;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 1px 1px 10px var(--darkColor);

    .heading{
        font-size: 50px;
        font-weight: bold;
    }
}

#winnerContainer{
    background-image: url(images/celebration.gif);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: bottom;
    display: none;
}

#tryAgainContainer{
    display: none;
    background-color: var(--defaultColor);
}

@media(max-width: 901px) and (min-width: 550px){
    .levelContainer{
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .creator{
        font-size: 10px;
        left: 50%;
        transform: translate(-20%);
    }

    main{
        flex-direction: column;
    }

    .container{
        width: 100%;
        height: fit-content;
    }

    .levelContainer{
        flex-direction: column;
    }

    .rightContainer{
        input[type="number"]{
            width: 80%;
        }
    }

    #tryAgainContainer,
    #winnerContainer{
        width: 80%;

        .heading{
            font-size: 25px;
        }
    }
}